# Core dependencies
pandas>=2.0.0
numpy>=1.24.0
pyyaml>=6.0.1
tqdm>=4.65.0
numba

# Data processing
pyarrow>=14.0.1  # for parquet files
fastparquet>=2023.10.1
ta
# Machine Learning
lightgbm>=4.1.0
scikit-learn>=1.3.0
optuna>=3.3.0
mlxtend>=0.23.1  # for rule mining

# Visualization
matplotlib>=3.7.0
seaborn>=0.12.0
plotly>=5.18.0

# Jupyter
jupyter>=1.0.0
ipykernel>=6.0.0

# Testing
pytest>=7.4.0
pytest-cov>=4.1.0

# Development
black>=23.7.0
isort>=5.12.0
flake8>=6.1.0
